{% if dnsmasq_listen_address | length > 0 %}
listen-address={{ dnsmasq_listen_address | join(',') }}
{% else %}
bind-interfaces
{% if dnsmasq_interfaces | length > 0 %}
interface={{ dnsmasq_interfaces | join(',') }}
{% endif %}
{% endif %}
{% if dnsmasq_listen_port is not none %}
port={{ dnsmasq_listen_port }}
{% endif %}

no-resolv
no-poll
expand-hosts
{% if dnsmasq_nameservers | length > 0 %}

{% for item in dnsmasq_nameservers %}
server={{ item }}
{% endfor %}
{% endif %}
{% if dnsmasq_addresses | length > 0 %}

{% for item in dnsmasq_addresses %}
address=/{{ item.domain }}/{{ item.address }}
{% endfor %}
{% endif %}
